<%- include('../partials/header') %>


<h1> ALL FLIGHTS </h1>

<% flights.forEach(function(f) { %>
    <h3><%= f.airline %> | Flight Number: <%= f.flightNo %></h3>
    <a href="/flights/<%= f._id %>">Flight Details</a>
<% }) %>

<%- include('../partials/footer') %>